In [1]:
import pandas as pd
import numpy as np

In [6]:
# import rfc_dat_avg.csv
rfc_dat_avg = pd.read_csv('rfc_dat_avg.csv')
rfc_dat_avg.head()
# set each row name equal to the income_bracket
rfc_dat_avg.index = rfc_dat_avg['income_bracket']
# remove unnamed column
rfc_dat_avg = rfc_dat_avg.drop('Unnamed: 0', axis=1)
rfc_dat_avg = rfc_dat_avg.drop('income_bracket', axis=1)
rfc_dat_avg.head()

,T010101,T010102,T010201,T010299,T010301,T010399,T010401,T010501,T020101,T020102,...,T181205,T181301,T181302,T181401,T181501,T181599,T181601,T181801,T181899,T189999
income_bracket,,,,,,,,,,,,,,,,,,,,,
very low,530.550110,2.830285,46.411851,0.746891,1.553767,0.000000,0.305048,0,29.619605,12.092173,...,1.773226,1.385516,0.393563,1.734455,1.057059,0.036576,0.074616,0.534016,0.003658,1.591807
low,518.238976,2.738976,43.583926,0.003556,2.036273,0.000000,0.117354,0,23.832859,11.573969,...,2.059033,1.596017,0.426743,1.424609,0.768848,0.049075,0.180654,0.053343,0.000000,1.682077
medium,513.445678,1.678826,43.493259,0.000000,1.168121,0.000000,0.556701,0,18.702617,12.482157,...,1.137986,2.137986,0.390960,2.060270,1.232355,0.166534,0.045202,0.000000,0.495638,1.405234
high,499.444947,2.514329,42.260181,0.000000,1.199095,0.745098,0.420060,0,20.558824,10.042986,...,1.387632,2.798643,0.474359,2.013575,1.242836,0.030166,0.125943,0.000000,0.079186,1.889894
very high,490.650000,1.572388,40.545522,0.022388,1.422388,0.074627,0.425373,0,19.380597,9.300746,...,1.659701,2.520896,0.748507,1.491045,1.937313,0.078358,0.240299,0.843284,0.059701,2.002985

In [13]:
# get the top 10 features for each income bracket
very_low_10 = rfc_dat_avg.loc['very low'].sort_values(ascending=False).head(10)
very_low_10

low_10 = rfc_dat_avg.loc['low'].sort_values(ascending=False).head(10)
low_10

medium_10 = rfc_dat_avg.loc['medium'].sort_values(ascending=False).head(10)
medium_10

high_10 = rfc_dat_avg.loc['high'].sort_values(ascending=False).head(10)
high_10

very_high_10 = rfc_dat_avg.loc['very high'].sort_values(ascending=False).head(10)
very_high_10

T010101    490.650000
T050101    273.339552
T120303    115.394776
T110101     74.618657
T010201     40.545522
T120101     34.931343
T180501     25.052985
T020201     22.968657
T020101     19.380597
T070104     19.066418
Name: very high, dtype: float64

In [16]:
# merge each income bracket's top 10 features into one dataframe
top_10 = pd.concat([very_low_10, low_10, medium_10, high_10, very_high_10], axis=1)
print(top_10)

           very low         low      medium        high   very high
T010101  530.550110  518.238976  513.445678  499.444947  490.650000
T050101  192.950988  250.872688  263.890563  259.206637  273.339552
T120303  150.242868  145.549075  147.726408  131.385370  115.394776
T110101   59.343087   61.652916   65.881047   70.717195   74.618657
T010201   46.411851   43.583926   43.493259   42.260181   40.545522
T120101   39.648866   38.400427   35.367169   33.806184   34.931343
T020101   29.619605   23.832859   18.702617   20.558824   19.380597
T020201   27.928310   25.330725   24.331483   21.382353   22.968657
T120301   18.308705         NaN         NaN         NaN         NaN
T180501   15.662034   20.305121   21.011102   22.116139   25.052985
T070104         NaN   17.394737   17.124504   16.854449   19.066418

In [19]:
# T010101: Sleeping
# T050101: Working, main job
# T120303: Television and movies (not religious)
# T110101: Eating and drinking
# T010201: Washing, dressing, and grooming oneself
# T120101: Socializing and communicatins with others
# T020101 Interior cleaning
# T020201: Food and drink preparation
# T120301: Relaxing, thinking
# T180501: Travel related to working
# T070104: Shopping, except groceries, food and gas
# Rename the rows in the pandas dataset
top_10 = top_10.rename(index={'T010101': 'Sleeping', 'T050101': 'Working, main job', 'T120303': 'Television and movies (not religious)', 'T110101': 'Eating and drinking', 'T010201': 'Washing, dressing, and grooming oneself', 'T120101': 'Socializing and communicatins with others', 'T020101': 'Interior cleaning', 'T020201': 'Food and drink preparation', 'T120301': 'Relaxing, thinking', 'T180501': 'Travel related to working', 'T070104': 'Shopping, except groceries, food and gas'})
top_10

,very low,low,medium,high,very high
Sleeping,530.550110,518.238976,513.445678,499.444947,490.650000
"Working, main job",192.950988,250.872688,263.890563,259.206637,273.339552
Television and movies (not religious),150.242868,145.549075,147.726408,131.385370,115.394776
Eating and drinking,59.343087,61.652916,65.881047,70.717195,74.618657
"Washing, dressing, and grooming oneself",46.411851,43.583926,43.493259,42.260181,40.545522
Socializing and communicatins with others,39.648866,38.400427,35.367169,33.806184,34.931343
Interior cleaning,29.619605,23.832859,18.702617,20.558824,19.380597
Food and drink preparation,27.928310,25.330725,24.331483,21.382353,22.968657
"Relaxing, thinking",18.308705,NaN,NaN,NaN,NaN
Travel related to working,15.662034,20.305121,21.011102,22.116139,25.052985
"Shopping, except groceries, food and gas",NaN,17.394737,17.124504,16.854449,19.066418

In [23]:
import matplotlib.pyplot as plt
import seaborn as sns